<% layout("/layouts/boilerplate")%>
<style>
    input:focus,textarea:focus, select:focus{
      box-shadow: none!important;
      border-color: #5a189a !important;
    }
</style>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <form 
          method="POST" 
          action="/listings/<%=listing._id%>?_method=PUT" 
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                 type="text" 
                 name="listing[title]" 
                 value="<%= listing.title %>" 
                 class="form-control"
                 required 
                 />
                <div class="invalid-feedback">Enter valid Title</div>

            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" class="form-control" required ><%= listing.description %></textarea>
                <div class="invalid-feedback">Enter valid description</div>

            </div>
            <div class="dropdown mb-3 col-4">
                <label for="type">Select Vehicle Type</label>
                <select name="listing[type]" id="type" class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option selected><%=listing.type%></option>
                  <option value="" disabled selected>Select a vehicle type</option>
                  <option value="Car">Car</option>
                  <option value="Bike">Bike</option>
                  <option value="Truck">Truck</option>
                  <option value="Van">Van</option>
                  <option value="Bus">Bus</option>
                  <option value="Helicopter">Helicopter</option>
                  <option value="EV">EV</option>
                  <option value="bicycle">bicycle</option>
                </select>
            </div>
            <div class="mb-3">
                <h3>Original Listing image</h3>
                <img src="<%=originalImageUrl%>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload new Image</label>
                <input
                  name="listing[image]" 
                  type="file" 
                  class="form-control"
                 />
                <div class="invalid-feedback">Enter valid Image Url</div>

            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                     type="number" 
                     name="listing[price]" 
                     value="<%= listing.price %>" 
                     class="form-control"
                     required 
                     />
                <div class="invalid-feedback">Enter valid price</div>

                </div>
                <div class="mb-3 col-md-8">
                    <label for="City" class="form-label">City</label>
                    <input
                     type="text" 
                     name="listing[city]" 
                     value="<%= listing.city %>" 
                     class="form-control"
                     required 
                     />
                <div class="invalid-feedback">Enter valid City</div>

                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Pickup Location</label>
                <input
                 type="text" 
                 name="listing[pickup]" 
                 value="<%= listing.pickup %>" 
                 class="form-control"
                 required 
                 />
                <div class="invalid-feedback">Enter valid Pick-up Location</div>

            </div>
            <div class="btn">
                <button class="btn btn-dark edit-btn mt-3 p-2">Save</button>
            </div>
        </form>
    </div>
</div>