<% layout("/layouts/boilerplate")%>
<style>
  a{
    color: rgb(88, 88, 88);
  }
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
    opacity: 0.7;
    cursor: pointer;
  }
  .filter:hover{
    opacity: 1;
  }
  .filter p{
    font-size: 0.7rem;
  }
  .tax-info{
    display: none;
  }
  .without-tax{
    display: inline;
  }
  .tax-toggle{
    border: 2px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
</style>
<div class="container">
  <div id="filters">
    <div class="filter">
      <div><a href="/listings?q=Car"><i class="fa-solid fa-car"></i></a></div>
      <p>Cars</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Bike"><i class="fa-solid fa-motorcycle"></i></a></div>
      <p>Bikes</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Truck"><i class="fa-solid fa-truck-moving"></i></a></div>
      <p>Trucks</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Van"><i class="fa-solid fa-van-shuttle"></i></a></div>
      <p>Vans</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Bus"><i class="fa-solid fa-bus"></i></a></div>
      <p>Buses</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Helicopter"><i class="fa-solid fa-helicopter"></i></a></div>
      <p>Helicopters</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=EV"><i class="fa-solid fa-charging-station"></i></a></div>
      <p>EVs</p>
    </div>
    <div class="filter">
      <div><a href="/listings?q=Bicycle"><i class="fa-solid fa-bicycle"></i></a></div>
      <p>Bicycles</p>
    </div>
  
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
         class="form-check-input"
         type="checkbox"
         role="switch"
         id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">Display price after taxes</label>
      </div>
    </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <%for(let listing of allListings){ %>
          <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card">
              <img src="<%=listing.image.url%>" style="height: 20rem;" class="card-img-top">
              <div class="card-img-overlay"> </div>
              <div class="card-body">
                  <b><%=listing.title%></b> <br> 
                  <p class="card-text without-tax">
                  &#8377;<%=listing.price.toLocaleString("en-IN")%> / day
                </p>
                <p class="card-text tax-info">
                  &#8377;<%=(1.18*listing.price).toLocaleString("en-IN")%> / day including GST 
                </p>
              </div>
            </div>
          </a>
      <% } %>
  </div>
</div>
        

<script>
  let priceToggle = document.querySelector('#flexSwitchCheckDefault');
  priceToggle.addEventListener("click",()=>{
    let taxInfo = document.querySelectorAll('.tax-info');
    let noTax = document.querySelectorAll('.without-tax');
    for(let info of taxInfo){
      if(info.style.display!='inline'){
        info.style.display = 'inline';
      } else{
        info.style.display = 'none';
      }
    }
    for(let info of noTax){
      console.log(info);
      if(taxInfo[0].style.display!='inline'){
        info.style.display = 'inline';
      } else{
        info.style.display = 'none';
      }
    }
  })
</script>